{% comment %}
	this is rendered in both cart.liquid and ajax-cart-template.liquid.
{% endcomment %}
<div class="cart__shipping-alert">
  <h3 class="cart__shipping-alert--header">Shipping Update</h3>
  <div class="cart__shipping-alert--message">
    {{ settings.cart_shipping_alert }}
  </div>
</div>
