{% comment %}
	this is rendered in both cart.liquid and ajax-cart-template.liquid.
{% endcomment %}
<div class="cart__shipping-alert">
  <h3 class="cart__shipping-alert--header">Shipping Update</h3>
  <div class="cart__shipping-alert--message">
    We work hard to process and ship our orders as soon as possible and our warehouse continues to ship on time. Due to high shipping
    volumes from major carriers like USPS, UPS and Fedex, please allow an additional 1-2 days for delivery on ground shipping methods.
  </div>
</div>
