<div class="store-map-link">
  <a href="{{ pages[block.settings.store_map].url }}" 
     class="{% if block.settings.display_button %}btn btn--inverse btn--inverse--red{% endif %}"
     rel="nofollow, noopener">
    {{ block.settings.link_text }}
  </a>
</div>