<a href="{{ routes.cart_url }}" class="icon-container site-nav__link site-nav__link--icon"
   aria-controls="CartDrawer" data-bs-toggle="offcanvas" data-bs-target="#CartDrawer" role="button" >
    <span class="cart-link">
        {% render 'icon-bag' %}
        <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
    </span>
</a>
