{% if section.settings.enable_sidebar %}
  <div
       id="CollectionSidebar"
       data-section-id="{{ section.id }}"
       data-section-type="collection-sidebar"
       data-combine-tags="{{ section.settings.tags_combine }}"
       data-style="{{ section.settings.filter_style }}">

    {% if section.settings.filter_style == 'sidebar' %}
      <div class="collection-sidebar">
        {% include 'collection-sidebar-filters', location: 'CollectionSidebar' %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Product Filter",
    "max_blocks": 15,
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable filter",
        "default": true
      },
      {
        "type": "select",
        "id": "filter_style",
        "label": "Filter style",
        "default": "drawer",
        "options": [
          {
            "value": "sidebar",
            "label": "Sidebar"
          },
          {
            "value": "drawer",
            "label": "Drawer"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "tags_combine",
        "label": "Enable tag combinations"
      },
      {
        "type": "checkbox",
        "id": "enable_sort",
        "label": "Show sort options",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tags_group",
        "name": "Tag group",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Tag Group"
          },
          {
            "type": "textarea",
            "id": "tag_list",
            "label": "Tag list (one per line)",
            "default": "First tag \nSecond tag \nThird tag",
            "info": "Tags are case sensitive and must match your product tag exactly"
          },
          {
            "type": "select",
            "id": "for_collection",
            "options": [
              {"value": "", "label": "All"},
              {"value": "chums", "label": "Chums/Retainers"},
              {"value": "outdoor-accessories", "label": "Outdoor Accessories"},
              {"value": "apparel", "label": "Apparel"},
              {"value": "bags-cases", "label": "Bags / Cases"}
            ],
            "label": "Limit to Collection",
			"default": ""
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "color_group",
        "name": "Color swatches",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Color",
			"info": "The color swatches are built automatically via javascript from the visible products in the collection when the page loads"
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "tags_all",
        "name": "All tags",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Tags"
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "main-menu"
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      },
      {
        "type": "subcollections",
        "name": "Subcollections",
        "settings": [
          {
            "type": "paragraph",
            "content": "Links to collections from your menu will appear here. [Learn more](https://archetypethemes.co/blogs/impulse/how-do-i-create-subcollections)"
          },
          {
            "type": "checkbox",
            "id": "enable_subsubcollections",
            "label": "Show third-level items",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enable_count",
            "label": "Enable count"
          },
          {
            "type": "checkbox",
            "id": "collapsed",
            "label": "Collapsed",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
