<div id="store-map-{{ section.id }}" class="store-map">
  <form class="store-map__search" id="searchform">
    <img src="{{ 'booby.icon.png' | file_url }}" alt="Chums" id="map-icon" style="display:none;">
    <input type="hidden" name="company" id="company" value="chums">
    <input type="hidden" name="pos-lat" id="pos-lat" value="37.16373108">
    <input type="hidden" name="pos-lng" id="pos-lng" value="-113.2989828">
      <div class="row g-3">
          <div class="col">
              <label class="visually-hidden" for="homeaddress">ZIP or Address</label>
              <input type="text" name="homeaddress" id="homeaddress" value="" class="form-control"
                     placeholder="ZIP or Address">
          </div>
          <div class="col-auto">
              <label class="visually-hidden" for="range">Search Radius</label>
              <select name="range" id="range" class="form-select">
                  <option value="10">10 Miles</option>
                  <option value="25" selected="selected">25 Miles</option>
                  <option value="50">50 Miles</option>
                  <option value="100">100 Miles</option>
              </select>
          </div>
          <div class="col-auto">
              <button class="btn btn-primary" type="submit">Search</button>
          </div>
      </div>
  </form>

  <div class="row g-3">
    <div class="col-md-4 col-lg-3">
        <div id="message"></div>
        <div id="searchresults"></div>
    </div>

    <div class="col-md-8 col-lg-9 store-map__map-container">
        <div id="googlemap"></div><!-- end of div#google-map -->
    </div>
  </div>
</div>
<style>
    .store-map-link {
        text-align: center;
    }

    .store-map .store-map__search {
        margin-bottom: 1.5rem;
    }
    .store-map .store-map__map-container {
        order: 1;
    }
    .store-map .store-map__map-container #googlemap {
        height: 600px;
        max-height: 100vh;
    }


    #searchresults {
        display: block;
        order: 2;
        height: 600px;
        max-height: 100vh;
        overflow: auto;
    }

    #searchresults .store-map__customer {
        width: 100%;
        margin-bottom: 5px;
        padding: 5px;
        text-align: left;
        font-size: 0.85rem;
        color: var(--chums-body-color);
        border: 1px solid transparent;
        box-shadow: 0 0 3px 0 transparent;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    #googlemap .store-map__customer__name,
    #searchresults .store-map__customer__name {
        font-size: 1rem;
        white-space: normal;
        font-weight: bold;
    }
    #searchresults .store-map__customer:hover {
        border-color: var(--chums-body-color);
        box-shadow: 0 0 3px 0 var(--chums-body-color);
    }
    @media (min-width: 576px) {
        #searchresults {
            order: 1;
        }
        .store-map .store-map__map-container {
            order: 2;
        }
    }

</style>
<script src="{{ 'find-a-store.js' | asset_url }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ section.settings.google_maps_api_key }}&callback=initMap"></script>


{% schema %}
{
    "name": "Find A Store",
    "settings": [
        {
            "id": "google_maps_api_key",
            "type": "text",
            "label": "Google Maps API Key"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
