{% if section.settings.page_title_enable or section.settings.page_content_enable %}
  <div class="page-width page-content{% if section.blocks.size > 0 %} page-content--with-blocks{% endif %}">
    {% include 'breadcrumbs' %}

    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        {% if section.settings.page_title_enable %}
          <header class="section-header">
            <h1 class="section-header__title">{{ page.title }}</h1>
          </header>
        {% endif %}

        {% if section.settings.page_content_enable %}
          <div class="rte text-spacing">
            {{ page.content }}
          </div>
        {% endif %}
        
        <div class="page-blocks press-box__container">
          {% for block in section.blocks %}  	
            {% case block.type %}

              {% when 'press-box' %}
                {% include 'page-block-press-box' %}

            {% endcase %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% else %}
<div class="visually-hidden">
  {% include 'breadcrumbs' %}
</div>
{% endif %}

{% schema %}
  {
    "name": "Page.news page",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content"
      }
    ],
    "blocks": [
      {
        "type": "press-box",
        "name": "Press Box",
        "settings": [
          {"type": "text", "id": "caption", "label": "Article Name"},
          {"type": "text", "id": "alt_text", "label": "Press Name"},
          {"type": "image_picker", "id": "image", "label": "Image"},
          {"type": "image_picker", "id": "hover_image", "label": "Hover Image"},
          {"type": "url", "id": "link", "label": "Link"}
        ]
      }
    ]
  }
{% endschema %}
