{% render 'shogun-products', content: collection %}

{{ collection.metafields.shogun.above }}
{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
    <div id="CollectionAjaxContent">
        <div class="container-lg">
            <div class="row g-3">
                <div class="col-4 col-md-2">
                    {% section 'collection-sidebar-filter' %}
                </div>
                <div class="col-8 col-md-10">
                    {% section 'collection-promotions' %}
                    {% section 'collection-filterable-products' %}
                </div>
            </div>
        </div>
    </div>
</div>


{{ collection.metafields.shogun.below }}

