{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="row g-3">
        <div class="col-4 col-md-2">
          {% section 'collection-retainer-chooser' %}
        </div>
        <div class="col-8 col-md-10">
          {% section 'collection-promotions' %}
          {% section 'collection-retainers' %}
        </div>
      </div>
    </div>
  </div>
</div>
