{% render 'shogun-products', content: collection %}

{{ collection.metafields.shogun.above }}
{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
    <div id="CollectionAjaxContent">
        <div class="container-lg">
            <div class="grid">
                <div class="grid__item medium-up--one-fifth small--one-third mobile--portrait--hidden grid__item--sidebar">
                    {% section 'collection-sidebar-filter' %}
                </div>
                <div class="grid__item medium-up--four-fifths small--two-thirds mobile--portrait--one-whole grid__item--content">
                    {% section 'collection-promotions' %}
                    {% section 'collection-filterable-products' %}
                </div>
            </div>
        </div>
    </div>
</div>


{{ collection.metafields.shogun.below }}

