{% render 'shogun-products', content: collection %}

{{ collection.metafields.shogun.above }}
{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
    <style>
        .collection-description {
            max-width: 900px;
            margin: auto;
            /*padding-left: 5rem;*/
            /*padding-right: 5rem;*/
            margin-bottom: 1rem;
            font-size: calc(var(--bs-body-font-size) * 1.25);
        }
    </style>
    <div id="CollectionAjaxContent">
        {% if collection.description != blank %}
            <div class="container collection-description">
                <div class="rte">
                    {{ collection.description }}
                </div>
            </div>
            <hr class="hr--clear hr--small">
        {% endif %}

        <div class="container-lg">
            <div class="row g-3">
                <div {% if collection.handle == 'all-products' %}class="d-none"{% else %}class="d-none d-sm-block col-4 col-md-2"{% endif %}>
                    {% section 'collection-sidebar-filter' %}
                </div>
                <div {% if collection.handle == 'all-products' %}class="col-12"{% else %}class="col-12 col-sm-8 col-md-10"{% endif %}>
                    {% section 'collection-promotions' %}
                    {% section 'collection-filterable-products' %}
                </div>
            </div>
        </div>
    </div>
</div>



{{ collection.metafields.shogun.below }}

